In [5]:
import pandas as pd
from scipy import stats
d=pd.read_csv('Book1.csv')
#d=pd.read_excel("Book1.xlsx")
d

    beratbadan  tinggibadan  umur  banyaksaudara
0           67          157    22              5
1           76          165    21              2
2           84          156    22              2
3           51          167    22              2
4           93          192    21              5
5           90          171    30              4
6           93          187    16              2
7           77          163    26              4
8           71          153    28              3
9           54          167    18              5
10          78          196    18              5
11          85          159    22              4
12          72          192    25              3
13          88          164    20              3
14          87          172    25              3
15          86          198    28              3
16          91          177    29              1
17          66          174    30              4
18          72          164    19              1
19          70          183    16              4
20          86          170    25              2
21          50          199    26              1
22          59          185    30              2
23          69          198    18              5
24          58          184    26              4
25          62          168    19              5
26          54          188    24              3
27          90          187    29              1
28          63          197    19              3
29          85          172    23              2
..         ...          ...   ...            ...
70          67          159    21              3
71          68          173    23              1
72          66          154    23              2
73          99          177    28              2
74          59          197    20              5
75          84          183    22              4
76          68          184    17              2
77          95          195    17              2
78          91          157    28              5
79          87          194    16              4
80          62          194    20              2
81          81          186    27              4
82          69          175    29              2
83          91          174    29              4
84          65          178    21              2
85          61          156    19              1
86          83          156    19              4
87          93          185    18              4
88          63          187    28              5
89          79          184    17              5
90          86          157    23              5
91          86          172    26              4
92          57          196    28              3
93          52          200    15              5
94          64          162    18              3
95          57          168    16              1
96          88          171    18              4
97          58          160    23              1
98          99          155    29              5
99          57          168    18              1

[100 rows x 4 columns]

In [6]:
df=pd.read_csv('Book1.csv',usecols=["beratbadan","tinggibadan","umur","banyaksaudara"])
df.describe()

       beratbadan  tinggibadan        umur  banyaksaudara
count  100.000000   100.000000  100.000000     100.000000
mean    73.190000   175.070000   22.390000       3.040000
std     13.813838    14.286573    4.483178       1.434918
min     50.000000   150.000000   15.000000       1.000000
25%     61.750000   163.750000   18.750000       2.000000
50%     71.000000   174.000000   22.000000       3.000000
75%     86.000000   186.250000   26.250000       4.000000
max     99.000000   200.000000   30.000000       5.000000

In [8]:
"""
x=0
temp=[]
for i in range(4):
    df=pd.read_csv('Book1.csv',usecols=[x])
    a=df.describe()
    temp.append(a)
    x=x+1
print(temp)
"""

"\nx=0\ntemp=[]\nfor i in range(4):\n    df=pd.read_csv('Book1.csv',usecols=[x])\n    a=df.describe()\n    temp.append(a)\n    x=x+1\nprint(temp)\n"